.row {
    border-radius: 0px;
    width: 60%;
    margin: auto;
    
}
.container2{
    padding: 20px;
    margin: auto;
    width: 40%;
    
    
}

.post-head {
    display: flex;
    justify-content: space-between;
}
#nav-tab {
    justify-content: center;
    margin-bottom: 20px;
}
